@font-face {
  font-family: Fraunces;
  src: url("./assets/fonts/fraunces/Fraunces-VariableFont.ttf");
}

@font-face {
  font-family: Manrope;
  src: url("./assets/fonts/manrope/Manrope-VariableFont.ttf");
}

body, button {
  font-family: Manrope, Arial, Helvetica, sans-serif;
  font-size: 18px;
} 

button {
  font-weight: bold;
}


h1, h2, h3, .numeral {
  font-family: Fraunces, 'Times New Roman', Times, serif;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 56px;
}

h3 {
  font-size: 32px;
}

.numeral {
  font-size: 24px;
}

@media (375px > width >= 768px) {
  body {
    font-size: 16px;
  }
}

@media (width <= 375px ) {
  button {
    font-size: 16px;
  }
}
