:root {
  --primary900: #24053e;
  --primary500: #584d62;
  --primary100: #fcf8ff;
  --lightest: #ffffff;
  --accent: #44ffa1;
  --side-padding: 8rem;
}

body {
  margin: 0;
}

header {
  background-color: var(--primary100);
  color: var(--lightest);

  .clipped-layer {
    display: flex;
    flex-direction: column;
    align-items: center;

    clip-path: ellipse(120% 100% at 50% 0%);
    background-color: var(--primary900);

    position: relative;
    padding-bottom: 15%;
    anchor-name: --hero-anchor;
  }
}

header nav {
  padding: 4rem var(--side-padding) 0;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary900);
  a {
    color: var(--lightest);
    text-decoration: none;
    font-weight: bold;
    border-bottom: 3px solid var(--accent);
    &:hover {
      color: var(--accent);
    }
  }
}

header button {
  margin-bottom: 5rem;
}

h1 {
  max-width: 11ch;
  text-align: center;
}

img.hero {
  width: 75vw;
  max-width: 710px;
  position: absolute;
  position-anchor: --hero-anchor;
  position-area: bottom center;
  transform: translateY(-50%);
  z-index: 1;
}

.features {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

  background-color: var(--primary100);
  color: var(--primary900);
  padding: 25% var(--side-padding) 10%;
  margin-bottom: 15%;
  clip-path: ellipse(150% 100% at 50% 0%);

  article {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  article h3 {
    text-align: center;
  }

  article p:first-child {
    border: 1px solid var(--primary900);
    box-shadow: 0 0 1px var(--primary900);
    padding: 0.75rem 1.33rem 0.65rem;
    border-radius: 50%;
    min-width: 0.8rem;
    display: flex;
    justify-content: center;
  }

  article p:last-child {
    width: 33ch;
    text-align: center;
    letter-spacing: 0;
  }
}

.cta {
  display: flex;
  min-height: 35rem;
  margin: auto var(--side-padding);

  .founder {
    align-self: flex-start;
  }
}

.cta article {
  background-color: var(--primary900);
  color: var(--lightest);
  padding: 1rem 4rem 4rem;
  letter-spacing: -0.25px;

  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-top: 9rem;
  margin-left: -5rem;
  p {
    font-size: 1rem;
  }
}

.cta img {
  width: clamp(14rem, 100%, 42rem);
}

footer {
  padding: 8rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  nav {
    display: flex;
    gap: 2rem;
  }
}

button {
  border: 1px solid var(--accent);
  padding: 0.675rem 1.83rem;
  background-color: var(--accent);
  &:hover {
    background-color: transparent;
    color: var(--accent);
  }
}

@media screen and (width <= 1024px) {
  :root {
    --side-padding: 5rem;
  }
}

@media screen and (width <= 768px) {
  header nav {
    padding-top: 2rem;
  }
  footer {
    padding: 5rem 0;
  }
}

@media screen and (640px < width <= 768px) {
  :root {
    --side-padding: 3rem;
  }

  .features {
    flex-direction: column;

    article {
      flex-direction: row;
    }
    .feature {
      margin-left: 3rem;
    }

    article p:last-child {
      width: auto;
      text-align: left;
    }
  }
  .cta article {
    padding: 1rem 3rem 3rem;
    p {
      margin: -0.5rem auto 2rem;
    }
  }
}

@media screen and (width <= 640px) {
  :root {
    --side-padding: 1rem;
  }

  .cta {
    flex-direction: column;
  }

  .cta article {
    padding: 1rem 2rem 2rem;
    margin: 0;
    text-align: center;
    align-items: center;

    h2 {
      letter-spacing: -2px;
      font-weight: 400;
    }
    p {
      font-weight: 300;
    }
  }

  .cta button {
    margin-top: 1rem;
  }

  .cta .founder {
    margin: auto var(--side-padding);
    img {
      margin: 0;
      position: relative;
      top: 5rem;
      z-index: -1;
    }
  }
}
