:root {
  --primary900: #24053e;
  --primary500: #584d62;
  --primary100: #fcf8ff;
  --lightest: #ffffff;
  --accent: #44ffa1;
  --side-padding: 8rem;
}

body {
  margin: 0;
}

header {
  background-color: var(--primary100);
  color: var(--lightest);

  .clipped-layer {
    display: flex;
    flex-direction: column;
    align-items: center;

    clip-path: ellipse(120% 100% at 50% 0%);
    background-color: var(--primary900);

    position: relative;
    padding-bottom: 15%;
    anchor-name: --hero-anchor;
  }
}

header nav {
  padding: 4rem var(--side-padding) 0;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary900);
  a {
    color: var(--lightest);
    text-decoration: none;
    font-weight: bold;
    border-bottom: 3px solid var(--accent);
    &:hover {
      color: var(--accent);
    }
  }
}

header button {
  margin-bottom: 5rem;
}

h1 {
  max-width: 11ch;
  text-align: center;
}

.facts {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  background-color: var(--primary100);
  padding: 25% var(--side-padding) 10%;
  margin-bottom: 15%;
  clip-path: ellipse(120% 100% at 50% 0%);
}

.facts article {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

article h2 {
  text-align: center;
}

article p:first-child {
  border: 1px solid var(--primary900);
  box-shadow: 0 0 1px var(--primary900);
  padding: 0.75rem 1.33rem 0.65rem;
  border-radius: 50%;
  width: fit-content;
  min-width: 0.8rem;
  display: flex;
  justify-content: center;
}

article p:last-child {
  width: 33ch;
  text-align: center;
}

img.hero {
  width: 80vw;
  max-width: 710px;
  position: absolute;
  position-anchor: --hero-anchor;
  position-area: bottom center;
  transform: translateY(-50%);
  z-index: 1;
}

.cta {
  background-color: var(--lightest);
  display: flex;
  justify-content: flex-end;
  padding: 0 var(--side-padding);
}

.cta article {
  background-color: var(--primary900);
  color: var(--lightest);
  max-width: 37rem;
  padding: 1rem 4rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 0;
  anchor-name: --book-demo-cta;
}

.cta img {
  max-width: 25rem;
  position: absolute;
  position-anchor: --book-demo-cta;
  position-area: top left;
  transform: translate(20%, 70%);
}

footer {
  padding: 8rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  nav {
    display: flex;
    gap: 2rem;
  }
}

button {
  /* border: none; */
  border: 1px solid var(--accent);
  padding: 1rem 2rem;
  background-color: var(--accent);
  &:hover {
    /* box-shadow: inset 1px 1px 1px var(--accent),
    inset -1px -1px 1px var(--accent); */
    background-color: transparent;
    color: var(--accent);
  }
}
